This is the notebook collection for Pandas basics. 
---
Remark: I only upload knowledge I may forget

## Table of Contents
1. [Pandas Series](#pandas-series)
2. [Pandas Dataframe](#pandas-dataframe)
3. [Company Data example](#company-data-example)
4. [City Rainfall example](#city-rainfall-example)
5. [Imputation](#imputation)
6. [Binning](#binning)
7. [Reformatting](#reformatting)
8. [Merging](#merging)
9. [Indexes, Hierarchical Indexes, and Grouping](#indexes-hierarchical-indexes-and-grouping)

In [ ]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Pandas Series

[Back to Table of Contents](#table-of-contents)

- Creating Pandas series

In [ ]:
import pandas as pd
import numpy as np

# without the index specified, you get numerical index values starting with zero
series =pd.Series([7,8,9])
series2 =pd.Series(np.array([7,8,9])) # equivalent
print(series)

print('\n', '-'*30, '\n')

# unlike numpy, data can be mixed type
series3=pd.Series(["Batman","Spiderman",42])
print(series3)

print('\n', '-'*30, '\n')

# We can set a custom index and it is not unique
cities=pd.Series(["Stamford","Albany","Buffalo","Hartford"],["CT","NY","NY","CT"])
# We can use keywords equivalently
cities2=pd.Series(data=["Stamford","Albany","Buffalo","Hartford"],index=["CT","NY","NY","CT"])
# We can use a dictionary equivalently but index will be uniquely determined by the last key
cities3=pd.Series({"CT":"Stamford","NY":"Albany","NY":"Buffalo","CT":"Hartford"})
print(cities, '\n')
print(cities['NY'], '\n')
print(cities3, '\n')
print(cities3['NY'],type(cities3['NY']))    # when we access a single element, it is its value instead of a series object

- Nuances in dictionary assignment

In [ ]:
import pandas as pd

# if a key from the dictionary data is not listed in the index, its value is not included in the Series.
series=pd.Series({'A':'ant', 'B':'bat'},['A'])
print(series)

print('\n', '-'*30, '\n')

# if an index label is not in the dictionary, it is included as NaN missing data.
x=pd.Series({'A':'ant','B':'bat'},['A','C'])
print(x, '\n')
print(pd.isnull(x),'\n')
print(pd.notnull(x))

- Indexing

In [ ]:
import pandas as pd

s=pd.Series(data=[7,8,9],index=['x','y','z'])
print("Series values:",s.values)
print(type(s.values)) # the values are stored in a NumPy ndarray
print("Series index:",s.index)
print(type(s.index)) # the index is stored in its own type of object
print(list(s.index)) # but it can be converted to an ordinary list

print('\n', '-'*30, '\n')

print(s)
print(s['y'],type(s['y'])) # single value
print(s[1]) # equivalent as you can either use index value or the numerical row number
print(s.iloc[1]) # equivalent

print(s['y':'z']) 
print(s[['y','y','z']]) # multiple values as a new duplicated series

- products

In [ ]:
import pandas as pd

s1=pd.Series([1,2],['x','y'])
s2=pd.Series([6,3],['x','z'])
# for addition, labels must be present in both Series
print(s1+s2)

s3=pd.Series([2,3],['x','y'])
print(s1*s3,'\n',s1+s3,'\n',s1-s3,'\n',s1/s3, '\n',s1%s3)

- comparing

In [ ]:
# need identical labels to compare element-wise
s1=pd.Series([1,2],['x','y'])
s2=pd.Series([1,9],['x','z'])
try:
  s1==s2
except ValueError as e:
  print(e)

- filtering

In [ ]:
import pandas as pd

s = pd.Series([2, 3, 4, 5])
# you can filter with a Boolean list
print(s[[True, False, True, False]])
# or can filter with an expression
print(s[s%2!=1])

## Pandas Dataframe

[Back to Table of Contents](#table-of-contents)

- creating dataframe

In [ ]:
import pandas as pd

dataframe=pd.DataFrame(data=[[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=['r1', 'r2', 'r3'], columns=['A', 'B', 'C'])
print(dataframe)

# we can use a nested dictionary equivalently
dataframe2=pd.DataFrame({'A': {'r1': 1, 'r2': 4, 'r3': 7}, 
                         'B': {'r1': 2, 'r2': 5, 'r3': 8}, 
                         'C': {'r1': 3, 'r2': 6, 'r3': 9}})
print(dataframe2)

- Dataframe attributes

In [ ]:
import pandas as pd

# here index is left out so is generated automatically
x=pd.DataFrame([[1, 2, 3], ['a', 5, 6]],
    columns=['A', 'B', 'C'])
print(x)
print(x.T)  # transpose

print(x.values)
print(type(x.values)) # NumPy type

print(x.index, list(x.index), x.index[1]) 

try:
    x.index[1] = 'D' # error: index is immutable
except TypeError as e:
    print(e)

print(x.columns, list(x.columns), x.columns[1])

try:
    x.columns[1] = 'D' # error: columns are immutable
except TypeError as e:
    print(e)
    
print(x.dtypes) # data types of columns

- accessing columns and elements

In [ ]:
import pandas as pd

x=pd.DataFrame([[1, 2, 3], ['a', 5, 6]],
    columns=['A', 'B', 'C'])
print(x)

print(x['A']) # first column
print(x.A.name) # column name
print(type(x['A'])) # Pandas Series type
print(x[['C','A','C']]) # select, reorder and duplicate multiple columns
print(type(x[['C','A','C']])) # Pandas DataFrame type
print(x.loc[:, 'B':'C'])    # column slicing

# Caveat: we can not use x['A':'C'] to extract multiple columns as in NumPy, it is only for rows

print(x['A'][0]) # first value in first column, caveat: we can not use x['A',0] as in NumPy
print(type(x['A'][0])) # NumPy type integer

- accessing rows and filtering

In [ ]:
import pandas as pd
d = pd.DataFrame({"cA": {'r1': 1, 'r2': 2, 'r3': 3},
                  "cB": {'r1': 4, 'r2': 5, 'r3': 6},
                  "cC": {'r1': 7, 'r2': 8, 'r3': 9}})
d = pd.DataFrame(index=['r1', 'r2', 'r3'], data=[[1,4,7],[2,5,8],[3,6,9]], columns=['cA', 'cB', 'cC'])
print(d, '\n')

# first row
print(d.iloc[0], '\n')
print(d.loc['r1'], '\n') # equivalent, row slicing
print(type(d.loc['r1']), '\n') # Pandas Series type

# last two rows
print(d[1:3], '\n') 
print(type(d[1:3]), '\n') # Pandas DataFrame type
print(d['r2':'r3'], '\n')   # equivalent
print(d[[False,True,True]], '\n')  # equivalent
print(d[d['cA']!=1], '\n')    # equivalent by filtering

- Reassignment

In [ ]:
import pandas as pd
d = pd.DataFrame(index=['r1', 'r2', 'r3'], data=[[1,4,7],[2,5,8],[3,6,9]], columns=['cA', 'cB', 'cC'])
print(d, '\n')

d['cB'] = 99    # reassign whole column
d['cB'] = [99,99,99]    # equivalent by list
d['cB'] = pd.Series([99,99,99], index=['r1','r2','r3'])    # equivalent by Series
# since index is string, we need to specify, otheriwse it will be NaN

print(d, '\n')

d['cB'] = pd.Series([99,99,99], index=['r1','r2','r4'])    # missing values handled gracefully

print(d, '\n')

print('\n', '-'*30, '\n')

d = pd.DataFrame(index=['r1', 'r2', 'r3'], data=[[1,4,7],[2,5,8],[3,6,9]], columns=['cA', 'cB', 'cC'])
print(d, '\n')

# Reassign by filtering
d[d['cA'] > 1] = 0  # whole rows
d.loc[d['cA'] > 0, 'cB'] = 99  # single value

print(d, '\n')

- Renaming Columns

In [ ]:
import pandas as pd 
import numpy as np 
df = pd.DataFrame(np.arange(9).reshape((3, 3)),
                 columns = ['a', 'b', 'c'])
print(df, '\n')

# Uppercase column names
df.rename(columns=str.upper,inplace=True)
df.columns=df.columns.map(str.upper)    # equivalent
print(df, '\n')

# Changing column names
df.index=[5,7,9]
df.columns=["Pluto", "Mickey", "Goofy"]
print(df)

- column dropping

In [ ]:
import pandas as pd

df = pd.DataFrame([[4, 5, 6], [7, 8, 9]],
    columns=['foo', 'bar', 'baz'])
print(df)

df['qux'] = [20, 30]  # add new column

# need to specify axis (row=0, column=1)
# need to specify inplace if you don't want to just create a copy
df.drop('bar',axis=1,inplace=True)  # drop an old column
print(df)

# Or we can use del equivalently
del df['baz']
print(df)

- testing a Dataframe

In [ ]:
import pandas as pd 
df = pd.DataFrame([[2, 3], [1, 50], [20, 4], [3, 45]])
print(df)
over40=(df>40)  # element-wise comparison
print(over40)
print(over40.any()) # any True in each column
print(over40.any(axis=1))   # any True in each row

## Company Data example

[Back to Table of Contents](#table-of-contents)

In [ ]:
import pandas as pd
d = [["$229.2", 2017, 123000, "$1100", "Cupertino, US"],
     ["$211.9", 2017, 320671, "$284", "Suwon, South Korea"],
     ["$177.8", 2017, 566000, "$985",  "Seattle, US"],
     ["$154.7", 2017, 1300000, "$66", "New Taipei City, Taiwan"],
     ["$110.8", 2017, 80110, "$834", "Mountain View, US"]]

comps = ["apple", "samsung", "amazon", "foxconn", "alphabet"]
cols = ["revenue", "fy", "employees", "mcap", "location"]

c = pd.DataFrame(d, index=comps, columns=cols)
print(c)

In [ ]:
# here's how we look at just some of the data
print(c.loc[['alphabet','amazon'],['location','revenue']])
print(c.loc['amazon':'foxconn','revenue':'location'])
print(c.iloc[2:4,:3])

In [ ]:
try:
    # remove the market cap column using del
    del c['mcap']
    # remove the fiscal year column using drop
    c.drop('fy',axis=1,inplace=True)
except KeyError as e:
    pass
print(c)

In [ ]:
# Adding a New Column Using a Dictionary
c['state'] = pd.Series({'apple': 'CA', 'amazon': 'WA', 'alphabet': 'CA'})
print(c)

In [ ]:
# Filtering Companies by Employee Size
print(c[c['employees']<200000])

In [ ]:
# Adjusting units
print(c['employees']/100000)

In [ ]:
# Index
print(c,'\n')
print(c.index.tolist())
print(list(c.index))
print(c.index[3])

In [ ]:
# Displaying Companies with/without State Information
print(c[c['state'].notnull()], '\n')
print(c[c['state'].isnull()], '\n')

In [ ]:
# Filling Missing State Data with empty strings in Pandas
c['state']=c['state'].fillna('')
print(c)

Print out just the revenue and employees columns for the those companies with a number of employees between 100,000 and 600,000.

In [ ]:
print(c.loc[(c['employees'] >= 100000) * (c['employees'] <= 600000),
            ['revenue','employees']])

In [ ]:
# Vectorized string methods on dataframe 
print(c['location'].str.upper(),'\n')   # as Pandas Series, not in-place

geosplit=c['location'].str.split(',')   # as Pandas Series, not in-place
geosplit2=c['location'].str.split(',', expand=True)  # as Pandas DataFrame, not in-place
print(geosplit,'\n')

c['country']=geosplit.str[-1]   # extract and add a new column `country`
c['city']=geosplit.str[0]   # extract and add a new column `city`
print(c)

Use the [str.slice](https://pandas.pydata.org/pandas-docs/version/2.1/reference/api/pandas.Series.str.slice.html#pandas.Series.str.slice) method (which is a vectorized string method to create substrings) and the the [astype(float)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html) method to convert the revenue column to a float by removing the dollar sign and converting the string to a float.

In [ ]:
try:
    c['revenue']=c['revenue'].str.slice(1).astype(float)
    c['revenue']=c['revenue'].map(lambda x: float(x[1:])) # equivalent
    c['revenue']=c['revenue'].str.replace('$', '', regex=False) # equivalent
    # `regex=False` is needed to treat the dollar sign as a literal
except AttributeError as e:
    pass
print(c)

In [ ]:
# Reindexing/Rearranging a DataFrame
# note the use of * here to unpack the elements of a list
c=c.reindex(index=[*(list(c.index)[1:]), 'apple', 'microsoft'], # add Microsoft
            columns=['city','state','country','revenue', 'employees'])
print(c)

In [ ]:
# Adding Microsoft's Data using loc/iloc
c.loc['microsoft','city']='Seattle'
c.iloc[5,1]="WA"
c.iloc[5,2:]=["US",161,182268]
print(c)

## City Rainfall example

[Back to Table of Contents](#table-of-contents)

In [ ]:
import pandas as pd
import numpy as np
rain = pd.DataFrame([[3.50, 4.53, 4.13, 3.98],
                     [7.91, 5.98, 6.10, 5.12],
                     [3.94, 5.28, 3.90, 4.49],
                     [1.42, 0.63, 0.75, 1.65]],
    index=['New York', 'New Orleans', 'Atlanta', 'Seattle'],
    columns=['Jun', 'Jul', 'Aug', 'Sept'])
print(rain)

In [ ]:
# if axis is omitted, it is set to zero, i.e., sum across the rows for each column.
total_rain_by_month=rain.apply(lambda x: sum(x)) 
print(total_rain_by_month)
print(type(total_rain_by_month))
print(rain.apply(np.sum)) # equivalent

print('\n', '-'*30, '\n')

# sum across the columns for each row
total_rain=rain.apply(lambda x: sum(x), axis=1)
print(total_rain)

In [ ]:
# Computing Monthly Average Rainfall
Average_rain=rain.apply(np.mean)
print(Average_rain)

print('\n', '-'*30, '\n')

# Computing Average Rainfall for Each City
Average_rain=rain.apply(np.mean,axis=1)
print(Average_rain)

In [ ]:
# Calculating Monthly Rainfall Variability
std=rain.apply(np.std)
print(std)

print('\n', '-'*30, '\n')

# Rainfall Standard Deviation by City
std=rain.apply(np.std, axis=1)
print(std)

In [ ]:
print(rain.describe())

In [ ]:
# Monthly Rainfall Descriptive Statistics by City
print(rain.T.describe())

An interesting remark is that we see that mostly describe() method coincides with what we have calculated above using apply() method, except the std. The reason is that describe() by defualt use pd.Series.std() or pd.DataFrame.std() in the way of deviding n-1 instead of n to ensure the unbiased-ness.

In [ ]:
# the minimum monthly rainfall by city and in which month it occurred.
print(rain.min(axis=1))
print('\n', '-'*30, '\n')
print(rain.idxmin(axis=1))

In [ ]:
# Rounding the Rainfall Data
rain=rain.round(1)
print(rain)

In [ ]:
# this doesn't make much sense in this context, but maybe they systematically undermeasured rainfall by 10 inches
rain=rain.add(10).round(0)
print(rain)

In [ ]:
# convert inches to cm in rainfall data   
rain=rain.map(lambda x: 2.54*x)
print(rain)

- map

In [ ]:
import pandas as pd
animals=['ant','cat','bat']
animal=pd.Series(animals).map(lambda word: word + "s") 
print(animal)

In [ ]:
import numpy as np
import pandas as pd

# apply factorial to the numbers in a 3x3 DataFrame containing the numbers from 0 to 8
def factorial(n): 
    return 1 if n==0 else n*factorial(n-1)

nums=pd.DataFrame(np.arange(9).reshape(3,3))
print(nums)

nums=nums.map(factorial)
print(nums)

Exercise: Write a function which returns true if its argument is prime and false otherwise. Then use this function with map on a 4 by 4 dataframe containing the numbers 2 to 17 to return a dataframe of Boolean values.

In [ ]:
import numpy as np
import pandas as pd

def is_prime(n):
    if n<2:
        return False
    for i in range(2, int(np.sqrt(n))+1):
        if n%i == 0:
            return False
    return True

df = pd.DataFrame(np.arange(2,18).reshape(4,4))

print(df)
print(df.map(is_prime))

- replace

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame([['A.','c.'],['B.','d.']])
df[0]=df[0].str.lower()
df[1]=df[1].str.upper().str.replace('.','!')
print(df)

## Imputation 

[Back to Table of Contents](#table-of-contents)

Check out this [book](https://stefvanbuuren.name/fimd/) concerning this topic!

In [ ]:
import numpy as np
import pandas as pd
# we create a dataframe containing some missing data.
df = pd.DataFrame(np.arange(12).reshape((3, 4)),  columns=list('abcd'))
# make two of the values missing
df.loc[1, 'd'] = np.nan
df.loc[2, 'c'] = np.nan
print(df)

- One way is to drop rows or columns (often rude)

In [ ]:
df2=df.dropna(axis=0)   # rows
print(df2)
df3=df.dropna(axis=1)   # columns
print(df3)

- Another way is to do mean imputation

Mean imputation only works with numerical data, not categorical data. And it makes little sense for binary categorical data (like gender, for instance.)

In [ ]:
# mean imputation using dictionary
df4=df.fillna({'c':df['c'].mean(),'d':df['d'].mean()})
print(df4)

- Another way is to do [hot deck](https://pubmed.ncbi.nlm.nih.gov/21743766/) imputation 

Filling missing values with the previous non-missing value in the column. This can be reasonable if you expect similar observations (that is, rows) to be near one another in the list or if you have sorted them so that this is the case.

In [ ]:
# hot deck imputation using forward fill
df5=df.fillna(method='ffill')
print(df5)
# hot deck imputation using forward fill
df6=df.fillna(method='bfill')
print(df6)

## Binning

[Back to Table of Contents](#table-of-contents)

The idea of categorizing continuous data into bins for easier analysis or reporting. Use `pd.cut(data,bins,labels)`.

In [ ]:
import pandas as pd 
import numpy as np
# generate 100 random numbers between 60 and 100 (simulating student grades)
scores=np.random.randint(60,101,size=100)
# represents 60-69 (D), 70-79 (C), 80-89 (B), 90-99 (A)
# The bins are the boundaries of the bins as a list.
bins=[59,69,79,89,100]
# labels can be used to specify text labels for each bin.
gradelabels=['D','C','B','A' ]  # ascending order
print(scores)
grades=pd.cut(scores,bins,labels=gradelabels)
print(grades)
print(type(grades))
# This creates a categories object which can be counted with the value_counts method.
print(pd.value_counts(grades,sort=False))

## Reformatting

[Back to Table of Contents](#table-of-contents)

- converting strings to numerics

In [ ]:
import pandas as pd
data = [['2009', '$500'],
        ['2010', '$1,234'],
        ['2011', 'bad data'],
        ['2012', '$2,507']]
df = pd.DataFrame(data , columns=['date', 'total'])
print(df)

df['total'] = df['total'].str.replace('$', '', regex=False)
df['total'] = df['total'].str.replace(',', '',regex=False)
# convert to numeric, coercing anything that doesn't convert
df['total'] = pd.to_numeric(df['total'],errors='coerce')

print(df)
print(df.loc[2,'total'])
print(type(df.loc[2,'total']))  # The nan is coerced to floating type

- converting strings to datetime object

In [ ]:
import pandas as pd
s = pd.Series(['Jan 7, 2014', 'May 29, 1993'])
s = pd.to_datetime(s)
print(s, '\n')
# Numeric months
print(s.dt.month, '\n')
# Month Names
print(s.dt.month_name(), '\n')
# Numeric Week of the year
print(s.dt.isocalendar().week, '\n')
# Day of the year
print(s.dt.dayofyear, '\n')
# Day of the week
print(s.dt.day_name())

## Merging

[Back to Table of Contents](#table-of-contents)

- 'inner': intersection of keys from both DataFrames (default)
- 'outer': union of keys from both DataFrames
- 'left': include all keys from the first (left) DataFrame, even if they don't exist in second (right)
- 'right': include all keys from the second (right) DataFrame, even if they don't exist in first (left)

In [ ]:
import pandas as pd
a = pd.DataFrame([[2, 20], [4, 40], [6, 60], [8, 80]],
                 columns=['k', 'col1'])
b = pd.DataFrame([[4, 2], [4, 3], [8, 7], [10,6]],
                 columns=['k', 'col2'])
print("First Dataframe:")
print(a)
print("Second Dataframe:")
print(b)
print("Inner Join:")    # default
print(pd.merge(a,b,on='k'))
# print(a.merge(b,on='k'))    # equivalent
# print(b.merge(a,on='k'))    # equivalent
print("Outer Join:")
print(pd.merge(a,b,on='k',how='outer'))
print("Left Join:")
print(pd.merge(a,b,on='k',how='left'))
print("Right Join:")
print(pd.merge(a,b,on='k',how='right'))

- concatting

In [ ]:
import pandas as pd 
import numpy as np 
d1 = pd.DataFrame(np.arange(9).reshape((3, 3)),
                columns=list('abc'))
d2 = pd.DataFrame(np.arange(10, 19).reshape((3, 3)),
                columns=list('abc'))
print(d1)
print(d2)
d3=pd.concat([d1,d2])
print(d3)
d3.index=range(6) # resetting the index
print(d3)

- merging exercise on `crossing` and `apply` method

The pandas merge method, when called with the how="cross" option, creates the Cartesian product of two dataframes, which combines each row in the first dataframe with each row in the second, without any key for matching (that is, every pair of rows matches.)

Create a dataframe with one column called restaurant_name with values from the following list: ["Amy's Pizza", "Beth's Pizza", "Charlie's Pizza"].

Create another dataframe with one column called slice_type with values from the following list: ["plain", "mushroom", "anchovy"].

Then create a dataframe that is the Cartesian product of them, which should have nine rows. Create a new "price" column. Set the prices at Amy's as $\$ 1$ for plain, $\$ 1.25$ for mushroom, and $\$ 1.50$ for anchovy. Then set all of the prices at Beth's at \$1 more than Amy's. Then set the prices at Charlie's at \$1 more than Beth's. Print the resultant dataframe.

In [ ]:
import pandas as pd
pd.options.mode.chained_assignment = None  # suppresses a warning

df1 = pd.DataFrame(data=["Amy's Pizza", "Beth's Pizza", "Charlie's Pizza"], columns=['Restaurant_Name'])
df2 = pd.DataFrame(data=["plain", "mushroom", "anchovy"], columns=['slice_type'])

df3 = pd.merge(df1,df2,how='cross')   # Cartesian product

print(df3, '\n')
 
base_prices = {"plain":1.00, "mushroom":1.25, "anchovy":1.50}
increment = {"Amy's Pizza": 0.00, "Beth's Pizza":1.00, "Charlie's Pizza":2.00}

df3['price']=df3.apply(lambda x: base_prices[x['slice_type']]+increment[x['Restaurant_Name']], axis=1)

print(df3)

## Indexes, Hierarchical Indexes, and Grouping

through the US Department of Labor [data](https://www.bls.gov/oes/) example

by `set_index` method

[Back to Table of Contents](#table-of-contents)

In [ ]:
import pandas as pd
cols = ["Year", "State", "Title", "Employment", "Salary"]

data = [[2016, "CA", "Web Dev", 22650, 82930],
        [2016, "CA", "DB Admin", 12370, 93960],
        [2016, "NY", "Web Dev", 11410, 81140],
        [2016, "NY", "DB Admin", 6650, 91720],
        [2017, "CA", "Web Dev", 21150, 84270],
        [2017, "CA", "DB Admin", 12030, 95630],
        [2017, "NY", "Web Dev", 11900, 82360],
        [2017, "NY", "DB Admin", 7170, 94330],
        [2018, "CA", "Web Dev", 20170, 86160],
        [2018, "CA", "DB Admin", 10970, 100890],
        [2018, "NY", "Web Dev", 12030, 79880],
        [2018, "NY", "DB Admin", 7100, 99000]]

df = pd.DataFrame(data, columns=cols)
print(df)

In [ ]:
df_c = df.copy()
df2 = df.reindex([4,3,2,1,0,12])  # reordering the rows, row 12 will be filled with Nan by default
print(df2, '\n')
df_c.index=list("abcdefghijkl")   # changing the index
print(df_c)

- Using Year Column as the Index

In [ ]:
df3=df.set_index('Year')
print(df3)

try:
  print(df3['Year'])
except:
  print("Year column is no longer there.It's now in the index.")
  print("The original index:")
  print(df.index) # original index
  print("The new index:")
  print(df3.index) # new index

- Hierarchical Indexing

In [ ]:
# Using the set_index method, you can specify more than one index, and this can create more than one level of indexing.
df4=df.set_index(['Year','State'])
print(df4)

In [ ]:
# Extracting Data Using a Hierarchical Index
print(df4.loc[2017], '\n')
print(df4.loc[2017,'CA'], '\n')
print(df4.loc[(2017,'CA'),'Title'], '\n')
print(df4.loc[(2017,'CA'),'Title'].iloc[0])

- `groupby` method

In [ ]:
import pandas as pd

cols = ["Year", "State", "Title", "Employment", "Salary"]
data = [[2016, "CA", "Web Dev", 22650, 82930],
        [2016, "CA", "DB Admin", 12370, 93960],
        [2016, "NY", "Web Dev", 11410, 81140],
        [2016, "NY", "DB Admin", 6650, 91720],
        [2017, "CA", "Web Dev", 21150, 84270],
        [2017, "CA", "DB Admin", 12030, 95630],
        [2017, "NY", "Web Dev", 11900, 82360],
        [2017, "NY", "DB Admin", 7170, 94330],
        [2018, "CA", "Web Dev", 20170, 86160],
        [2018, "CA", "DB Admin", 10970, 100890],
        [2018, "NY", "Web Dev", 12030, 79880],
        [2018, "NY", "DB Admin", 7100, 99000]]
df = pd.DataFrame(data, columns=cols)

# this groups the salaries by year and then takes their mean
grouped=df["Salary"].groupby(df['Year'])
print(type(grouped))
print(grouped.mean())
print(grouped.sum())

In [ ]:
import pandas as pd

cols = ["Year", "State", "Title", "Employment", "Salary"]
data = [[2016, "CA", "Web Dev", 22650, 82930],
        [2016, "CA", "DB Admin", 12370, 93960],
        [2016, "NY", "Web Dev", 11410, 81140],
        [2016, "NY", "DB Admin", 6650, 91720],
        [2017, "CA", "Web Dev", 21150, 84270],
        [2017, "CA", "DB Admin", 12030, 95630],
        [2017, "NY", "Web Dev", 11900, 82360],
        [2017, "NY", "DB Admin", 7170, 94330],
        [2018, "CA", "Web Dev", 20170, 86160],
        [2018, "CA", "DB Admin", 10970, 100890],
        [2018, "NY", "Web Dev", 12030, 79880],
        [2018, "NY", "DB Admin", 7100, 99000]]
df = pd.DataFrame(data, columns=cols)
df=df.set_index(['Year','State'])
# number of rows per state/year
print(df.iloc[:,1:].groupby("State").count())      # skipping the Title column
print(df.iloc[:,1:].groupby("Year").count())
# mean salary per state/year
print(df.iloc[:,1:].groupby("State").mean())
print(df.iloc[:,1:].groupby("Year").mean())

In [ ]:
mean=df.groupby('Year')['Salary'].mean()
print(mean)

max=df.groupby('Year')['Salary'].max()
print(max)

- exercise on grouping

The file countries csv has been uploaded to workspace to the right. You can view it in one of the tabs to the right. It has the columns country, continent, gdpPerCapita2021, population, area, and gini.

Use groupby to find the maximum per capita GDP for each continent, which countries have those maximums, and the average per capita GDP per continent.

In [ ]:
import pandas as pd
countries=pd.read_csv("data/countries.csv")

grouped = countries.groupby("continent")["gdpPerCapita2021"]

maximum = grouped.max()
max_countries = countries.loc[grouped.idxmax()]['country']
ave = grouped.mean()

print(maximum)
print(max_countries)
print(ave)

The following aggregation functions work with groupby in pandas.
- count
- sum, prod
- mean, median
- std, var
- min, max
- first, last

- Aggregation Exercise

Write some code at the right to print the dataframe sorted by state and then by salary (in ascending order) and then print the second highest salary by state.

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
cols = ["Year", "State", "Title", "Employment", "Salary"]

data = [[2016, "CA", "Web Dev", 22650, 82930],
        [2016, "CA", "DB Admin", 12370, 93960],
        [2016, "NY", "Web Dev", 11410, 81140],
        [2016, "NY", "DB Admin", 6650, 91720],
        [2017, "CA", "Web Dev", 21150, 84270],
        [2017, "CA", "DB Admin", 12030, 95630],
        [2017, "NY", "Web Dev", 11900, 82360],
        [2017, "NY", "DB Admin", 7170, 94330],
        [2018, "CA", "Web Dev", 20170, 86160],
        [2018, "CA", "DB Admin", 10970, 100890],
        [2018, "NY", "Web Dev", 12030, 79880],
        [2018, "NY", "DB Admin", 7100, 99000]]

df = pd.DataFrame(data, columns=cols)
df_sorted = df.sort_values(by=["State", "Salary"])
print(df_sorted)

f = lambda x: x.sort_values().iloc[-2]

second_highest = df.groupby('State').aggregate({'Salary': f})

print(second_highest)